---
http_interactions:
- request:
    method: get
    uri: https://fly.hawaiianairlines.com/Calendar/Calendar.aspx?depDate=04/02/15&dest=PDX&isDM=false&isEAward=false&isRoundTrip=true&orig=HNL&owORob=true&traveler=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Apps-Server:
      - apps2
    body:
      encoding: UTF-8
      string: "<ITACal><table border='0' cellpadding='0' cellspacing='0'>\r\n  <tr><td
        style='height:2px'></td></tr>\r\n  <tr><td style='text-align:left'><div class='CalendarTitle'
        style='margin-left:5px'>Depart:  Honolulu to Portland</div></td></tr>\r\n
        \ <tr>\r\n    <td style='text-align:left'>\r\n      <div style='padding-left:5px;display:none'
        name='DMToggleGroup'>\r\n        <img src='https://assets.hawaiianairlines.com/images/spacer.gif'
        alt='' width='1px' height='15px' /><br>\r\n        <span class='DMToggleText'>View
        prices by:&nbsp;&nbsp;</span>\r\n        <span id='OB_DToggle' class='DMToggleSel'
        onclick=\"if(_isOBEA==1){setDolMile(0,_isRTEA,$get('OB_DToggle'),$get('OB_MToggle'));}\">Dollars</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span
        id='OB_MToggle' class='DMToggleOther' onclick=\"if(_isOBEA==0){setDolMile(1,_isRTEA,$get('OB_DToggle'),$get('OB_MToggle'));}\">Miles</span>\r\n
        \       <img style='vertical-align: top; cursor: pointer' onclick='showHelp(this)[...]
