%p
  %strong
    Depart $:
  =number_to_currency(@low_fare.departure_price)
  %strong
    Return $:
  =number_to_currency(@low_fare.return_price)
%p
  %strong
    Depart Dates:
  =@low_fare.formatted_departure_dates
%p
  %strong
    Return Dates:
  =@low_fare.formatted_return_dates
%p
  %strong
    Total: 
  =number_to_currency(@low_fare.total_price)
%p
  =link_to "Go to fare", @low_fare.url, target: "_new_#{@target}"
  %span.glyphicon.glyphicon-share-alt
%p.muted
  Last checked: #{@low_fare.last_checked.strftime("%-m/%-d/%y @ %l:%M %p")} HST
