%h1 Best Fares

%h3 All fares are without taxes (currently ~$40)

#cheap_listing
  -destinations = @favorite_cities.dup

  -@favorite_cities.sort_by {|city| city.name}.each do |origin|
    -destinations.reject {|destination| destination == origin}

    -destinations.each do |destination|
      -outbound_fare = Fare.where(origin_id: origin, destination_id: destination).where("departure_date > ?", Time.now.beginning_of_day.localtime).order(:price).limit(1).first
      -if outbound_fare
        -return_fare = Fare.where(origin_id: destination, destination_id: origin).where("departure_date > ?", outbound_fare.departure_date).order(:price).limit(1).first
        %p
          From #{origin.name} to #{destination.name}
          %br
          Depart
          =outbound_fare.departure_date
          Return
          =return_fare.departure_date
          %br
          Depart
          =number_to_currency(outbound_fare.price)
          Return
          =number_to_currency(return_fare.price)
          %br
          Total: 
          =number_to_currency(outbound_fare.price + return_fare.price)
