= javascript_include_tag "//www.google.com/jsapi", "chartkick"

Departing Oahu, arriving Portland
%br
Lowest observed price:
=@low_fare.price
Departing on:
=@low_fare.departure_date
Observed first
=@low_fare.created_at
Observed last:
=@low_fare.updated_at

=line_chart([ { name: "Highest", data: @report[:max] }, { name: "Lowest", data: @report[:min] } ])
