=javascript_include_tag "//www.google.com/jsapi", "chartkick"

-@reports.each do |report|
  .row
    .col-lg-5
      Departing Oahu, arriving
      =report[:low_fare].destination.name
  .row
    .col-lg-5
      Lowest observed price:
      =report[:low_fare].price
  .row
    .col-lg-5
      Departing on:
      =report[:low_fare].departure_date
  .row
    .col-lg-5
      First Observed:
      =report[:low_fare].created_at
  .row
    .col-lg-5
      Last Observed:
      =report[:low_fare].updated_at

  =line_chart(report[:chart])
