%ul.unstyled
  %li
    %h4 Sunday, March 24, 2013
    %p
      %ul
        %li
          Multiple fare details can be shown at one time.
        %li
          Click right arrow to display fare details.
        %li
          Display flights filtering - from or to Oahu.
        %li
          Additional cities has added.
        %li
          Application server has been changed from thin to unicorn for performance reasons.
  %li
    %h4 Saturday, March 23, 2013
    %p
      Add caching to reduce load times. 
  %li
    %h4 Friday, March 22, 2013
    %p
      Display mainland to hawaii flights. Display return dates that are after departure date.
